# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @CS2113-AY1819S1-T16-1/developers
# This file is to support the merging workflow for this project. This file will auto-assign the developer team to review any PRs that have been created.