<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
</head>

<body class="background">
<h1><font color="white" size="6" style="font-family: 'Monotype Corsiva';position: center">Welcome to BookInventory!</br></font></h1>
<img src="bookinventory.PNG" style="max-height: 100%; max-width: 100%" />
<p><font color="white" size="3" style="font-family: Verdana">
    Thank you for downloading! </br></br>
    The commands are available at the right.
    Click on any command to begin.</br></p>

<i>Press `Tab` to cycle through existing ISBN from an empty "i/ " or a half input ISBN "i/978"</i>

</font></p>
</body>
</html>
