<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
</head>

<body class="background">
<h1><font color="white"><font size="4">Welcome to BookInventory!</br></font></h1>

<p><font color="white"><font size="3">Thank you for downloading! Here are the commands to start.</br></font></p>
<p><font color="white"><font size="2">Add : add n/NAME i/ISBN13 p/PRICE q/QUANTITY (c/COST) [t/TAG]
<br />
Check : check QUANTITY
<br />
Clear : clear
<br />
Delete : delete INDEX OR delete i/ISBN13
<br />
DeleteRequest : deleterequest INDEX
<br />
Display Statistics : stats
<br />
Edit : edit INDEX n/NAME i/ISBN13 p/PRICE (c/COST) [t/TAG]
<br />
Exit : exit
<br />
Find : find KEYWORD [MORE_KEYWORDS]
<br />
Help : help
<br />
History : history
<br />
List : list
<br />
Redo : redo
<br />
Request : request i/ISBN13 e/EMAIL q/QUANTITY
<br />
Sell : sell INDEX q/QUANTITY OR sell i/ISBN13 q/QUANTITY
<br />
Show Statistics : stats
<br />
Stock : stock INDEX q/QUANTITY OR stock i/ISBN13 q/QUANTITY
<br />
Undo : undo
<br />
<br />
Press `Tab` to cycle through existing ISBN from an empty "i/ " or a half input ISBN "i/978"

</font></p>
</body>
</html>
