<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
</head>

<body class="background">
<h1><font color="white"><font size="4">Welcome to BookInventory!</br></font></h1>

<p><font color="white"><font size="3">Thank you for downloading! Here are the commands to start.</br></font></p>
<p><font color="white"><font size="2">Add : add n/NAME i/ISBN13 p/PRICE q/QUANTITY (c/COST) [t/TAG]
<br />
Check : check QUANTITY
<br />
Clear : clear
<br />
Delete : delete i/ISBN13
<br />
Display data : showdata
<br />
Exit : exit
<br />
Find : find i/ISBN13
<br />
Help : help
<br />
History : history
<br />
List : list
<br />
Next : next
<br />
Redo : redo
<br />
Request : request i/ISBN13 e/EMAIL q/QUANTITY
<br />
Search : search TAG
<br />
Sell : sell INDEX QUANTITY OR sell i/ISBN13 QUANTITY
<br />
Stock : stock INDEX QUANTITY OR stock i/ISBN13 QUANTITY
<br />
View Request : viewrequests
<br />
Undo : undo


</font></p>
</body>
</html>
